:root {
  --body-background: black;
  /* --background-color: #003050; */
  --background-color: #001f3f;
  --color: floralwhite;
  /* --color: #FF4136; */
  --active-color: #FF4136;
}


body {
  position: relative;
  background-color: var(--body-background);
  margin: 0;
}

#v3 {
  position: relative;
  box-sizing: border-box;
  cursor: none;
}

#v3::before, #v3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 9.7vw;
  background: var(--body-background);
  z-index: 10;
  pointer-events: none;
}
#v3::before {
  top: 0;
}
#v3::after {
  bottom: 0;
}

.field {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  color: var(--color);
  width: 100vw;
  padding: none;
  margin: none;
  text-align: center;
  height: 50vw;
  font-size: 43vw;
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.spel {
  position: absolute;
  cursor: none;
  margin: auto;
  top: 4.7vw;
  left: 0;
  right: 0;
  transition:
    transform 3000ms, opacity 3000ms, color 3000ms;
    /* font-weight 3000ms, font-variation-settings 3000ms, letter-spacing 3000ms,  */
  transform: rotate3d(0,1,0,90deg);
  opacity: 1;
  color: var(--color);
  z-index: 1;
}

.this {
  letter-spacing: -0.05em;
}

.is {
  font-weight: 1000;
  letter-spacing: 0.05em;
}

.my {
  font-weight: 1000;
  letter-spacing: 0.05em;
}

.last {
  left: -1vw;
  font-variation-settings:
    "wdth" 80;
  letter-spacing: -0.01em;
}

.time {
  font-variation-settings:
    "wdth" 92;
  letter-spacing: -0.05em;
}

.to {
  font-weight: 1000;
  letter-spacing: 0.05em;
}

.feel {
  left: -2vw;
  font-variation-settings:
    "wdth" 98;
  letter-spacing: -0.05em;
}

.hear {
  left: -1.5vw;
  font-weight: 800;
  font-variation-settings:
    "wdth" 75;
  letter-spacing: -0.03em;
}

.know {
  left: -6vw;
  font-weight: 800;
  font-variation-settings:
    "wdth" 75;
  letter-spacing: -0.15em;
}

.read {
  left: -0.5vw;
  font-variation-settings:
    "wdth" 75;
  letter-spacing: -0.015em;
}

.say {
  font-weight: 1000;
}

.see {
  letter-spacing: 0.05em;
  font-weight: 1000;
}

.taste {
  left: -2.5vw;
  font-weight: 800;
  font-variation-settings:
    "wdth" 75;
  letter-spacing: -0.09em;
}

.touch {
  left: -6.5vw;
  font-weight: 700;
  font-variation-settings:
    "wdth" 75;
  letter-spacing: -0.17em;
}